In [6]:
import pandas as pd
import time

In [7]:
file_path = r"/Users/tiangeng/Downloads/csv_ppa2017_2021/psam_p42.csv"

# American Community Survey (ACS) PUMS vs Public-Use Microdata Areas (PUMAs) crosswalk

## ACS Microdata

- 2017-2021 American Community Survey (ACS) 5-year Microdata,
- Download link: https://www2.census.gov/programs-surveys/acs/data/pums/2021/5-Year/?C=N;O=A
  

## Documentations

- Understanding and Using the American Community Survey Public Use Microdata Sample Files, pp.3-8 https://www.census.gov/content/dam/Census/library/publications/2021/acs/acs_pums_handbook_2021.pdf
    - "*Limiting the geographic areas that can be identified in the PUMS. Data are available for the nation,regions, divisions, states, and Public Use Microdata Areas (PUMAs). The section on “Public Use Microdata Areas” provides more information*"(p. 2)

- 2017-2021 ACS 5-year PUMS Data Dictionary, https://www2.census.gov/programs-surveys/acs/tech_docs/pums/data_dict/PUMS_Data_Dictionary_2017-2021.pdf

- 2010 PUMA Names, https://www2.census.gov/geo/pdfs/reference/puma/2010_PUMA_Names.pdf

- All About Public-Use Microdata Areas (PUMAs), https://mcdc.missouri.edu/geography/PUMAs.html

## 2020 TIGER/Line Technical Documentation

- https://www2.census.gov/geo/pdfs/maps-data/data/tiger/tgrshp2020/TGRSHP2020_TechDoc_Ch6.pdf

In [8]:
start_time = time.time()
cols = ['SERIALNO','ST','PUMA','PWGTP','JWTRNS','OCCP','SEX','AGEP']
dtypes = {'SERIALNO':str,'ST':str,'PUMA':str,'PWGTP':int,'JWTRNS':str,'OCCP':str, 'SEX':str, 'AGEP':int}
df = pd.read_csv(filepath_or_buffer = file_path, usecols = cols, index_col = False, dtype = dtypes)
print("--- %s seconds ---" % (time.time() - start_time))

--- 3.1924779415130615 seconds ---

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645639 entries, 0 to 645638
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   SERIALNO  645639 non-null  object
 1   PUMA      645639 non-null  object
 2   ST        645639 non-null  object
 3   PWGTP     645639 non-null  int64
 4   AGEP      645639 non-null  int64
 5   JWTRNS    296777 non-null  object
 6   SEX       645639 non-null  object
 7   OCCP      390631 non-null  object
dtypes: int64(2), object(6)
memory usage: 39.4+ MB

In [10]:
df.isna().sum()

SERIALNO         0
PUMA             0
ST               0
PWGTP            0
AGEP             0
JWTRNS      348862
SEX              0
OCCP        255008
dtype: int64

In [11]:
# The percentage of missing values in means of transportation to work and occupation
round(100*df.isna().sum()[df.isna().sum()>0]/df.shape[0],2)

JWTRNS    54.03
OCCP      39.50
dtype: float64

In [12]:
print("For the variable of 'means of transportation to work', there're " + \
      str(round(100*df['JWTRNS'].isna().sum()/df.shape[0],2))+"% NA values.")

For the variable of 'means of transportation to work', there're 54.03% NA values.

In [13]:
# Create a survey year variable from the serial number from the first four digits.
df['YEAR'] = df['SERIALNO'].str[:4]

In [14]:
df = df.reset_index(drop = True) # reset index to get rid of previous row names

In [15]:
PUMA_counts = df['PUMA'].value_counts().rename_axis('PUMA').reset_index(name = 'counts')
PUMA_counts = PUMA_counts.sort_values('PUMA', ascending = True)

In [17]:
print("The Pennsylvania 2017-2021 ACS 5-year data cover",str(len(set(df['PUMA']))),"unique PUMA codes.")

The Pennsylvania 2017-2021 ACS 5-year data cover 92 unique PUMA codes.

## PUMAs by YEAR

In [18]:
set(df['YEAR'])

{'2017', '2018', '2019', '2020', '2021'}

In [19]:
for yr in set(df['YEAR']):
    print("When 'YEAR' = ",str(yr) + ", the ACS data contain",\
          str(len(df['PUMA'][df['YEAR'] == yr].value_counts())),"unique PUMA codes.")

When 'YEAR' =  2019, the ACS data contain 92 unique PUMA codes.
When 'YEAR' =  2020, the ACS data contain 92 unique PUMA codes.
When 'YEAR' =  2021, the ACS data contain 92 unique PUMA codes.
When 'YEAR' =  2017, the ACS data contain 92 unique PUMA codes.
When 'YEAR' =  2018, the ACS data contain 92 unique PUMA codes.

In [20]:
PUMA_year = df.groupby('YEAR')['PUMA'].value_counts().to_frame()

In [21]:
PUMA_year = PUMA_year.rename(columns = {"PUMA":"counts"}).reset_index()

In [22]:
## Use this to merge with the PUMA2010 data
PUMA_year.head()

   YEAR   PUMA  counts
0  2017  03800    2794
1  2017  00300    2761
2  2017  01300    2585
3  2017  00900    2503
4  2017  01600    2361

# Import PUMA2010 Master File

- Web scrapped from https://www2.census.gov/geo/pdfs/reference/puma/2010_PUMA_Names.pdf

In [23]:
PUMA2010 = pd.read_csv('PUMA2010.txt', delimiter = "\t")

In [24]:
PUMA2010.head()

                                2010 PUMA Names File
0                          STATEFP PUMA5CE PUMA NAME
1  01 00100 Lauderdale, Colbert, Franklin & Mario...
2  01 00200 Limestone & Madison (Outer) Counties-...
3  01 00301 Huntsville (North) & Madison (East) C...
4         01 00302 Huntsville City (Central & South)

In [25]:
PUMA2010.shape

(2427, 1)

In [26]:
PUMA2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2427 entries, 0 to 2426
Data columns (total 1 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   2010 PUMA Names File  2427 non-null   object
dtypes: object(1)
memory usage: 19.1+ KB

### Subset Pennsylvania ('42')

In [27]:
# Subset rows that starts with '42'
PA_PUMA2010 = PUMA2010[PUMA2010['2010 PUMA Names File'].str.startswith('42')]

In [28]:
PA_PUMA2010.columns

Index(['2010 PUMA Names File'], dtype='object')

### Split all-in-one strings

In [29]:
PA_PUMA2010['2010 PUMA Names File'].str.split(' ')

1793    [42, 00101, Erie, City,, Lawrence, Park, Towns...
1794                   [42, 00102, Erie, County, (Outer)]
1795           [42, 00200, Crawford, &, Warren, Counties]
1796    [42, 00300, Clearfield,, McKean,, Elk,, Potter...
1797    [42, 00400, Bradford,, Tioga, &, Sullivan, Cou...
                              ...
1882    [42, 03702, Franklin, County, (Outside, Washin...
1883    [42, 03800, Somerset,, Bedford, &, Fulton, Cou...
1884                         [42, 03900, Fayette, County]
1885    [42, 04001, Washington, County, (North)--Washi...
1886    [42, 04002, Washington, (South), &, Greene, Co...
Name: 2010 PUMA Names File, Length: 92, dtype: object

### Construct PUMAs and NAME from strings

- R `strsplit( ,split = ' ')` and `unlist()` equivalent

In [30]:
PUMAS = []
NAME = []
for row in PA_PUMA2010['2010 PUMA Names File']:
    puma = row.split(' ')[1]
    name = row.split(' ')[2:]
    PUMAS.append(puma)
    NAME.append(' '.join(map(str, name)))

In [31]:
PUMAS[0:10] # looks good

['00101',
 '00102',
 '00200',
 '00300',
 '00400',
 '00500',
 '00600',
 '00701',
 '00702',
 '00801']

In [32]:
NAME[0:10] # looks good

['Erie City, Lawrence Park Township & Wesleyville Borough',
 'Erie County (Outer)',
 'Crawford & Warren Counties',
 'Clearfield, McKean, Elk, Potter & Cameron Counties',
 'Bradford, Tioga & Sullivan Counties',
 'Pike, Wayne & Susquehanna Counties',
 'Monroe County',
 'Lackawanna County--Scranton City, Dunmore, Old Forge, Taylor & Moosic Boroughs',
 'Lackawanna (Outside Greater Scranton City) & Wyoming Counties',
 'Luzerne County (East)--Kingston Borough']

In [33]:
PA_PUMA2010['PUMA'] = PUMAS
PA_PUMA2010['NAME'] = NAME
PA_PUMA2010 = PA_PUMA2010.drop('2010 PUMA Names File', axis = 1) # Drop the all-in-one raw column
PA_PUMA2010.head()

<ipython-input-33-75e0076a7a2c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PA_PUMA2010['PUMA'] = PUMAS
<ipython-input-33-75e0076a7a2c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PA_PUMA2010['NAME'] = NAME

       PUMA                                               NAME
1793  00101  Erie City, Lawrence Park Township & Wesleyvill...
1794  00102                                Erie County (Outer)
1795  00200                         Crawford & Warren Counties
1796  00300  Clearfield, McKean, Elk, Potter & Cameron Coun...
1797  00400                Bradford, Tioga & Sullivan Counties

In [34]:
PA_PUMA2010.shape

(92, 2)

In [35]:
PA_PUMA2010 = PA_PUMA2010.reset_index(drop = True)

In [37]:
from IPython.display import display, HTML

In [38]:
display(HTML(PA_PUMA2010.to_html()))

### Save `PA_PUMA2010.csv`

In [39]:
PA_PUMA2010['PUMA'] = PA_PUMA2010['PUMA'].str.zfill(5) # doesn't help to preserve leading 0
PA_PUMA2010.to_csv('PA_PUMA2010.csv', index = False) # Save data, when import, needs zfill(5)

# Link `ACS` to `PUMA`

In [40]:
ACS_PUMA_crosswalk = df.merge(PA_PUMA2010, on = 'PUMA') # semi join works as left-join

In [41]:
ACS_PUMA_crosswalk = ACS_PUMA_crosswalk.drop('SERIALNO', axis = 1)

In [42]:
ACS_PUMA_crosswalk.head()

,PUMA,ST,PWGTP,AGEP,JWTRNS,SEX,OCCP,YEAR,NAME
0,03303,42,16,59,NaN,1,NaN,2017,Delaware County (Southeast)--Chester City
1,03303,42,11,77,NaN,2,NaN,2017,Delaware County (Southeast)--Chester City
2,03303,42,10,79,NaN,1,NaN,2017,Delaware County (Southeast)--Chester City
3,03303,42,50,67,NaN,2,NaN,2017,Delaware County (Southeast)--Chester City
4,03303,42,55,28,NaN,2,3603,2017,Delaware County (Southeast)--Chester City

In [43]:
ACS_PUMA_crosswalk.to_csv('ACS_PUMA_crosswalk.csv', index = False)